/* Style for the map container */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20%;
  left: 0;
}

#map {
  height: 100%;
}

/* Style for the tables container */
#tables-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  background: white;
  overflow-y: auto;
  padding: 10px;
}

#cleanest-table, #most-corrupt-table {
  margin-bottom: 20px;
}

/* Style for the region selection checkboxes */
#region-checkboxes {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
}

#region-checkboxes label {
  margin-right: 10px;
}

#region-checkboxes button {
  margin-top: 5px;
  padding: 5px 10px;
}

.custom-marker {
  text-align: center;
  line-height: 10px;
  /* Adjust other styles as needed */
}

